
{% if data.totals.total_votes != 0 %}
{% set percentage_yes = (data.totals.yes / data.totals.total_votes) * 100 %}
{% set percentage_no = (data.totals.no / data.totals.total_votes) * 100 %}
{% else %}
{% set percentage_yes = 0 %}
{% set percentage_no = 0 %}
{% endif %}

<div id="debate_5" class="debate clear" data-type="debate">

    <div class="panel">
        <div class="row">

            <div class="container">
            <div class="debate-left">
                    <h3>
                        <a href="{{data.entity.url}}" data-jzz-gui-player="true">
                            {{data.entity.title}}
                        </a>
                    </h3>

                     <div class="debate-info">
                         
                            
                            <a href="{{data.entity.url}}#comments" data-jzz-gui-player="true">
                                <span class="fas fa-comments"></span>&nbsp;
                                View comments
                            </a>
                            <span class="bullet">&nbsp;•&nbsp;</span>
                            {{data.entity.time_created|date('Y-m-d')}}

                            <span class="bullet">&nbsp;•&nbsp;</span>
                            <span class="author">
                            {{data.created_by.name}}
                            </span>


                        </div>
                        <div class="debate-description">
                                   {{data.entity.description|raw}}
                                <div class="truncate"></div>
                        </div>
            
            </div>
            <div class="debate-right"></div>
            <div class="debate-right-b1">
                <div class="context-menu">
                 {% if data.menu != '' %}
                    <div>
                   
                        {{data.menu}}
                       
                    </div>
                     {% else %}
                            <div class="df"></div>
                        {% endif %}
                </div>
                <div id="debate_5_votes" class="small-12 medium-3 column">
      <center>
                  <div class="votes">
                      <div class="in-favor inline-block">
                          <div class="like">
                          <i class="fas fa-thumbs-up"></i>
                          
                          
                          <span class="percentage">{{percentage_yes}}%</span>
                      </div>
                  </div>

                  <span class="divider"></span>

                  <div class="against inline-block">
                      <div class="unlike">
                          <i class="fas fa-thumbs-down"></i>
                          <span class="percentage"> {{percentage_no}}%</span>
                      </div>
                  </div>
        <br>
                  <span class="total-votes">
                  {{data.totals.total_votes}} votes
                  </span>

      </center>
    </div>
            </div>
            <div class="debate-left-b1">
            
            {% for t in data.tags %}
                        <a href="{{data.site_url}}search?q={{t}}&search_type=tags" class="debates-tags-link">{{t}}</a>
            {% endfor %}
            </div>
            </div>
        </div>
    </div>

</div>




