<!-- Hero -->
<div class="relative overflow-hidden before:absolute before:top-0 before:start-1/2 before:bg-[url('https://preline.co/assets/svg/examples/squared-bg-element.svg')] dark:before:bg-[url('https://preline.co/assets/svg/examples-dark/squared-bg-element.svg')] before:bg-no-repeat before:bg-top before:size-full before:-z-[1] before:transform before:-translate-x-1/2">
  <div class="max-w-[95rem] mx-auto px-4 sm:px-6 lg:px-8 pt-4 pb-10">
    <!-- Title -->
    <div class="mt-5 w-full text-center mx-auto">
      <h1 class="block font-bold text-gray-800 text-4xl md:text-5xl lg:text-6xl dark:text-neutral-200">{{ data.entity.title }}</h1>
    </div>
    <!-- End Title -->

    <!-- Announcement Banner -->
    <div class="flex justify-center mt-8">
      <div class="inline-flex items-center gap-x-2 bg-white border border-gray-200 text-xs text-gray-600 p-2 px-3 rounded-full transition hover:border-gray-300 focus:outline-none focus:border-gray-300 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:hover:border-neutral-600 dark:focus:border-neutral-600" href="#">
        {{ data.entity_details }}
        <span class="flex items-center gap-x-1">
          <span class="border-s border-gray-200 text-blue-600 ps-2 dark:text-blue-500 dark:border-neutral-700">Explore more debates</span>
          <svg class="shrink-0 size-4 text-blue-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="m9 18 6-6-6-6" />
          </svg>
        </span>
      </div>
    </div>
    <!-- End Announcement Banner -->

    <div class="mt-5 w-full mx-auto mt-8">
      <span class="text-lg text-gray-600 dark:text-neutral-400">{{ data.entity_description|raw }}</span>
    </div>

    <!-- Buttons -->
    {% if data.sustainable_goals is iterable %}
      <div class="mt-8 gap-3 flex justify-left">
        {% for n in data.sustainable_goals %}
          <div class="group aspect-w-12 aspect-h-7 sm:aspect-none rounded-xl overflow-hidden">
            <img src="{{ data.site_url }}mod/debates/graphics/sdg/{{ n }}.png" width="100" class="group-hover:scale-105 group-focus:scale-105 transition-transform duration-500 ease-in-out rounded-xl" />
          </div>
        {% endfor %}
      </div>
    {% else %}
      <img src="{{ data.site_url }}mod/debates/graphics/sdg/{{ data.sustainable_goals }}.png" width="100" />
    {% endif %}

    <div class="mt-8 gap-3 flex flex-wrap justify-start pt-4">
      {% for tag in data.tags %}
        <a href="{{ data.site_url }}search?q={{ t }}&search_type=tags" class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium border border-blue-600 text-blue-600 dark:text-blue-500" style="text-decoration: none !important;"><i class="bi bi-tags-fill"></i> {{ tag }}</a>
      {% endfor %}
    </div>
    <!-- End Buttons -->
  </div>
</div>
<!-- End Hero -->

{{ data.responses }}

<link rel="stylesheet" href="{{ data.site_url }}mod/debates/dist/output.css" />
<link rel="stylesheet" href="{{ data.site_url }}mod/debates/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" />
<style>
  .elgg-heading-main {
    display: none;
  }
  .elgg-listing-imprint {
    padding-top: 12px;
  }
</style>
